# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environment
venv/
env/

# PostgreSQL data (if using a local volume)
pgdata/

# IDE/editor settings
.vscode/
.idea/

# Node/React
node_modules/
build/
